@import "src/assets/scss/principles/varaibles";

.list-group-item {
  a {
    text-decoration: none;
    color: $color-black
  }
}

.float-left {
  text-align: left;
}

.form-item-field {
  display: flex;
  margin-top: 15px;
  max-height: 40px;
}

.float-left-flex {
  margin: 15px 0 0 20px;
}

.mr-3 {
  margin-left: 13px;
}

.float-right {
  margin-top: 15px;
}

.form-item-space {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.fixed-button {
  width: 230px;
  height: 50px;
}

.fixed-width {
  width: 230px;
}
