<div class="card big-card center">
  <!--  <header>-->
  <!--    <p>{{ content }}</p>-->
  <!--  </header>-->
  <!--  <div #surface style="height: 500px"></div>-->
  <h1>Wide Open Shot Recommender</h1>
  <p>We created a system which helps in finding the most open player during an attacking sequence.</p>
  <p>To analyze a play you should create an account and add a video of an attacking sequence. The starting point
    of the video should be when the attacking team reaches the front court. After analysis, you will be able to
    see the results on the results page.</p>
  <p>Below you can find an example of an analysis. The best option is highlighted with a blue spot under him.</p>
  <video style="max-width: 100%" controls>
    <source src="assets/home/play5.mp4" type="video/mp4">
  </video>
  <p>Result:</p>
  <img class="float-right" src="assets/home/open.jpg" style="max-width: 100%"/>
</div>
