<div class="card center">
  <div *ngFor="let progressInfo of progressInfos" class="mb-2">
    <div class="form-item">
      <span>{{ progressInfo.fileName }}</span>
      <div class="progress">
        {{ progressInfo.value }}
      </div>
    </div>
  </div>

  <div class="form-item">
    <label class="btn btn-default">
      <input type="file" (change)="selectFiles($event)"/>
    </label>

    <button
      class="btn btn-success"
      [disabled]="!selectedFiles"
      (click)="uploadFiles()"
    >
      Upload
    </button>
  </div>

  <div class="alert alert-light" role="alert">{{ message }}</div>
</div>
