<div class="card center">
  <h1 >Analyze a play</h1>
  <div *ngFor="let progressInfo of progressInfos" class="mb-2">
    <div class="form-item">
      <span>{{ progressInfo.fileName }}</span>
      <div class="progress">
        {{ progressInfo.value }}
      </div>
    </div>
  </div>

  <div class="form-item-field">
    <p class="float-left">Select video file:</p>
    <label class="float-left-flex">
      <input type="file" (change)="selectFiles($event)"/>
    </label>
  </div>

  <div class="form-item-field">
    <p>Please select attacking team's color:</p>
    <input class="float-left-flex" [value]="attColor"
           [style.background]="attColor"
           [(colorPicker)]="attColor"
           (colorPickerChange)="attColorChange($event)"
           [cpOutputFormat]="'hsla'"/>
  </div>

  <div class="form-item-field">
    <p>Please select defending team's color:</p>
    <input class="float-left-flex mr-3" [value]="defColor"
           [style.background]="defColor"
           [(colorPicker)]="defColor"
           (colorPickerChange)="defColorChange($event)"
           [cpOutputFormat]="'hsla'"/>
  </div>

  <button
    class="float-right btn btn-success"
    (click)="uploadFiles()"
  >
    Upload
  </button>

  <div class="alert alert-light" role="alert">{{ message }}</div>
</div>
